/* ############ FONTS ############ */

@font-face {
    font-family: 'GothamBook_0';
    src: url('../fonts/GothamBook_0.eot');
    src: url('../fonts/GothamBook_0.eot') format('embedded-opentype'),
         url('../fonts/GothamBook_0.woff2') format('woff2'),
         url('../fonts/GothamBook_0.woff') format('woff'),
         url('../fonts/GothamBook_0.ttf') format('truetype'),
         url('../fonts/GothamBook_0.svg#GothamBook_0') format('svg');
}

@font-face {
    font-family: 'GothamMedium_0';
    src: url('../fonts/GothamMedium_0.eot');
    src: url('../fonts/GothamMedium_0.eot') format('embedded-opentype'),
         url('../fonts/GothamMedium_0.woff2') format('woff2'),
         url('../fonts/GothamMedium_0.woff') format('woff'),
         url('../fonts/GothamMedium_0.ttf') format('truetype'),
         url('../fonts/GothamMedium_0.svg#GothamMedium_0') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot') format('embedded-opentype'),
         url('../fonts/GothamBold.woff2') format('woff2'),
         url('../fonts/GothamBold.woff') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.svg#GothamBold') format('svg');
}



/* ############ GLOBAL ############ */

html, body {
	height: 100%;
	font: normal 16px sans-serif;
	font-family: 'GothamBook_0';
	color: #562889;
	cursor: default;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

html {
       overflow-y: scroll;
}

body {
	background: #f5f5f5;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
    background: #ffffff;
    text-shadow: none;
}

::selection {
    background: #ffffff;
    text-shadow: none;
}

a {
	text-decoration: none;
}

a:hover{
	opacity:0.6;
}

b, strong {
	font-family: georgia, serif;
	font-weight: normal;
}

p {
	font-family: 'GothamBook_0';
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 30px;
	font-size:16px;
	color:#562889;
	line-height:120%;
	letter-spacing:1px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3, h4, h5, h6 {
	font-family: arial, sans-serif;
	font-weight: normal;
	text-transform: none;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

ol, ul, li {
	list-style: none;
}

ul, menu, dir, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.mobi {
	display: none;
}

.visible {
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 1 !important;
}

.clearfix:after{
	display:table;
	clear:both;
	content:"";	
}

.container {
	width:100%;
    max-width: 1270px;
    background-color:#ffffff;
}

.row.horizontal{
	padding-top:140px;
	padding-bottom:110px;
	position:relative;
}

/* INDEX */
/* Nav-banner */
.row.nav-banner{
	height:46px;
}
.nav{
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 30px;
}
.nav>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 4px;
    color:#562889;
    text-transform:uppercase;
    font-size:14px;
    font-family: 'GothamMedium_0';
    letter-spacing: 0.5px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    opacity:0.7;
}
/* Hero */
.row.hero{
	position:relative;
}
.bana-logo{
	width:191px;
	position:absolute;
	top:15px;
	left:30px;
}
.bana-hero-mobile{
	display:none;
}
/* HELLO */
.hello{
	max-width: 620px;
	margin:0 auto;
}
.hello p{
	font-size:36px;
	line-height:120%;
	text-align:center;
	max-width: 700px;
    margin: 0 auto;
    margin-bottom:30px;
}
/* Intro */
.intro{
	background-color:#562889;
	background-image:url('../images/intro_bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.intro p{
	font-size:16px;
	color:#ffffff;
	line-height:120%;
	text-align:center;
	letter-spacing:1px;
	max-width: 650px;
	margin:0 auto;   
	margin-bottom:30px;
	padding-left:15px;
	padding-right:15px;
}
img.divider{
	position:absolute;
	top:-28px;
	left:50%;
	margin-left:-28px;
}
/* Book */
.book [class*="col-"], .slider [class*="col-"]{
	padding-left:90px;
	padding-right:90px;
}
.book img.book{
	float:right;
  -moz-box-shadow:    20px 10px 70px 6px #ccc;
  -webkit-box-shadow: 20px 10px 70px 6px #ccc;
  box-shadow:         20px 10px 70px 6px #ccc;
}
.book-link{
	font-family: 'GothamMedium_0';
	color:#562889;
}
.book-link:hover{
	color:#562889;
	opacity:0.7;
	text-decoration:none;
}
/* Untitled */
.row.horizontal.untitled{
	background-color:#e7dcf3;
}
/* Twitter */
.row.horizontal.twitter {
	background-color:#562889;
	color:#ffffff;
	text-align:center;
	padding-bottom:140px;
}
/* Slider */
.slider img{
	float:right;
}
.slick-dots li button:before {
    content:url('../images/slide.png');
    opacity:1;
}
.slick-dots li.slick-active button:before {
    content:url('../images/slide_active.png');
    opacity:1;
}
.slider .title{
	font-family: 'GothamMedium_0';
	font-size:18px;
}
.slider .date{
	font-family: 'GothamBold';
	font-size:12px;
	letter-spacing:0px;
}

/* Footer */
.footer{
	background-color:#562889;
	padding-bottom:60px;
}
.bana-logo-white{
	width:191px;
	margin:0 auto;
	display:block;
	margin-top:50px;
	margin-bottom:50px;
}
.footer-link-twitter{
	margin:0 auto;
	display:table;
	text-align:center;
	color:#ffffff;
	padding: 13px 0 13px 50px;
	background-image:url('../images/divider3.png');
	background-size:46px;
	background-position:center left;
	background-repeat:no-repeat;
	font-family: 'GothamMedium_0';
	letter-spacing: 0.5px;
	margin-bottom: 25px;
}
.footer-link-twitter:hover{
	color:#ffffff;
	text-decoration:none;
}
a.footer-link{
	color:#ffffff;
	text-align:center;
	display:block;
	text-transform:uppercase;
	color:#ce6fff;
	font-size:12px;
	font-family: 'GothamMedium_0';	
	margin-bottom:7px;
}




@media only screen and (max-width: 1200px) {
	
	.book [class*="col-"], .slider [class*="col-"] {
	    padding-left: 45px;
	    padding-right: 45px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.book img.book, .slider img.book {
	    float: none;
	    margin:0 auto;
	    display:block;
	    margin-bottom:60px;
	}
	
}


@media only screen and (max-width: 768px) {
	
	/*.bana-hero-mobile{
		display:block;
	}
	.bana-hero{
		display:none;
	}*/
	.bana-logo {
	    width: 120px;
	    position: absolute;
	    top: 15px;
	    left: 15px;
	}
	.nav {
	    right: 15px;
	}
	.nav>li>a {
	    padding: 0px 0px;
	    letter-spacing: 0px;
	    font-size:12px;
	}
	.row.horizontal {
	    padding-top: 90px;
	    padding-bottom: 60px;
	}
	.hello p {
	    font-size: 24px;
	}
	.book [class*="col-"], .slider [class*="col-"] {
	    padding-left: 15px;
	    padding-right: 15px;
	}

	
}

@media only screen and (max-width: 600px) {
	
	
}

@media only screen and (max-width: 500px) {
	
	
	
}


@media only screen and (max-width: 400px) {
	
	
	
	
	
}










