/*
Theme Name: Bana
Theme URI: https://evildonkey.co.uk/
Description:  Bana
Author: Evil Donkey
Author URI: https://evildonkey.co.uk/
Template: _tk-master
Version: 1.0.0
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: bana
*/

@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/MontserratRegular.eot');
    src: url('fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('fonts/MontserratRegular.woff2') format('woff2'),
         url('fonts/MontserratRegular.woff') format('woff'),
         url('fonts/MontserratRegular.ttf') format('truetype'),
         url('fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/MontserratMedium.eot');
    src: url('fonts/MontserratMedium.eot') format('embedded-opentype'),
         url('fonts/MontserratMedium.woff2') format('woff2'),
         url('fonts/MontserratMedium.woff') format('woff'),
         url('fonts/MontserratMedium.ttf') format('truetype'),
         url('fonts/MontserratMedium.svg#MontserratMedium') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/MontserratBold.eot');
    src: url('fonts/MontserratBold.eot') format('embedded-opentype'),
         url('fonts/MontserratBold.woff2') format('woff2'),
         url('fonts/MontserratBold.woff') format('woff'),
         url('fonts/MontserratBold.ttf') format('truetype'),
         url('fonts/MontserratBold.svg#MontserratBold') format('svg');
}

@font-face {
    font-family: 'SchoolbellRegular';
    src: url('fonts/SchoolbellRegular.eot');
    src: url('fonts/SchoolbellRegular.eot') format('embedded-opentype'),
         url('fonts/SchoolbellRegular.woff2') format('woff2'),
         url('fonts/SchoolbellRegular.woff') format('woff'),
         url('fonts/SchoolbellRegular.ttf') format('truetype'),
         url('fonts/SchoolbellRegular.svg#SchoolbellRegular') format('svg');
}


/* ############ GLOBAL ############ */

html, body {
	height: 100%;
	font: normal 16px sans-serif;
	font-family: 'MontserratRegular';
	color: #562889;
	cursor: default;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

html {
       overflow-y: scroll;
}

body {
	background: #f5f5f5;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
    background: #ffffff;
    text-shadow: none;
}

::selection {
    background: #ffffff;
    text-shadow: none;
}

/** {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}*/

a {
	text-decoration: none;
}

a:hover{
	opacity:0.6;
}

b, strong {
	font-family: georgia, serif;
	font-weight: normal;
}

p {
	font-family: 'MontserratRegular';
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 30px;
	font-size:16px;
	color:#562889;
	line-height:120%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3, h4, h5, h6 {
	font-family: arial, sans-serif;
	font-weight: normal;
	text-transform: none;
}
h1{
	font-size:30px;
    font-family: 'MontserratMedium';
    text-align:center;	
    -webkit-margin-after: 40px;
}
h3{
	font-size:14px;
    font-family: 'MontserratMedium';
    text-align:center;	
    text-transform:uppercase;
    margin-bottom:10px;
    margin-top:40px;
}
h6 {
	font-family: 'MontserratRegular';
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 8px;
	font-size:16px;
	color:#562889;
	line-height:120%;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}

ol, ul, li {
	list-style: none;
}

ul, menu, dir, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.mobi {
	display: none;
}

.visible {
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 1 !important;
}

.clearfix:after{
	display:table;
	clear:both;
	content:"";	
}

.container {
	width:100%;
    max-width: 1270px;
    background-color:#ffffff;
    padding-bottom:0px;
}

.remove-padding{
	padding-left:0px;
	padding-right:0px;
}

.row.horizontal{
	padding-top:140px;
	padding-bottom:110px;
	position:relative;
}

.main-content-inner{
	width:100%;
}
.bana-main-container{
	margin-left:-15px;
	margin-right:-15px;
}

img.center{
	display:block;
	margin:0 auto;
	margin-bottom:30px;
}

/* Nav-banner */
.row.nav-banner{
	height:46px;
}
.nav-home{
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 30px;
    display:none;
}
body.home .nav-home{
    display:block;
}
.nav-home>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.nav-home>li>a {
    position: relative;
    display: block;
    padding: 0px 4px;
    color:#562889;
    text-transform:uppercase;
    font-size:14px;
    font-family: 'MontserratMedium';
}
.nav-home>li>a:focus, .nav-home>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    opacity:0.7;
}

.nav-misc{
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 30px;
    display:block;
}
body.home .nav-misc{
    display:none;
}
.nav-misc>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.nav-misc>li>a {
    position: relative;
    display: block;
    padding: 0px 4px;
    color:#562889;
    text-transform:uppercase;
    font-size:14px;
    font-family: 'MontserratMedium';
}
.nav-misc>li>a:focus, .nav-misc>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    opacity:0.7;
}
/* Hero */
#masthead .site-header-inner{
	padding-left:0px;
	padding-right:0px;
}
.row.hero{
	position:relative;
}
.bana-logo{
	width:191px;
	height:auto;
	position:relative;
	margin-top: -4px;
    margin-left: 30px;
    margin-bottom: 50px;
}
body.home .bana-logo{
	width:191px;
	height:auto;
	position:absolute;
	top:15px;
	left:30px;
	margin:0px;
}
.bana-logo img{
	height:auto;
}
.bana-hero-mobile{
	display:none;
}
h1.site-title{
	display:none;
}
img.hero{
	width:100%;
	height:auto;
}
/* WP-bit */
article.status-publish{
}
/* HELLO */
.hello img.quote{
	z-index: 10;
	position:relative;
	max-width:636px;
	padding-left:15px;
	padding-right:15px;
	width:100%;
}
.butterfly{
	position:absolute;
	right:80px;
	top:40px;
	z-index: 0;
	max-width:25%;
}
.pencils{
	position:absolute;
	left:95px;
	bottom:0px;
	z-index: 0;
	max-width:13%;
}
.hello p{
	font-family: 'SchoolbellRegular';
	font-size:36px;
	line-height:120%;
	text-align:center;
	max-width: 605px;
    margin: 0 auto;
    margin-bottom:30px;
}
/* Intro */
.intro{
	background-color:#562889;
	background-image:url('images/intro_bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.intro p{
	font-size:16px;
	color:#ffffff;
	line-height:120%;
	text-align:center;
	max-width: 636px;
	margin:0 auto;   
	margin-bottom:30px;
	padding-left:15px;
	padding-right:15px;
}
img.divider{
	position:absolute;
	top:-28px;
	left:50%;
	margin-left:-28px;
}
/* Book */
.book [class*="col-"], .slider [class*="col-"], .untitled [class*="col-"]{
	padding-left:90px;
	padding-right:90px;
}
.book img.book{
	float:right;
  -moz-box-shadow:    20px 10px 70px 6px #ccc;
  -webkit-box-shadow: 20px 10px 70px 6px #ccc;
  box-shadow:         20px 10px 70px 6px #ccc;
}
.book-link{
	font-family: 'MontserratMedium';
	color:#562889;
}
.book-link:hover{
	color:#562889;
	opacity:0.7;
	text-decoration:none;
}
/* Untitled */
.row.horizontal.untitled{
	background-color:#e7dcf3;
}
/* Twitter */
.row.horizontal.twitter {
	background-color:#562889;
	color:#ffffff;
	text-align:center;
	padding-bottom:140px;
    padding-left: 15px;
    padding-right: 15px;
}
.twitter .post{
	max-width: 530px;
    margin: 0 auto;
    padding-left: 60px;
    text-align: left;
    background-image: url(images/twitter_post_icon.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 45px;
    padding-top: 13px;
}
.twitter h2.entry-title{
	font-family: 'MontserratMedium';
	font-size:16px;
	color:#d6c0ee;
	margin-bottom:5px;
}
.twitter .entry-summary p{
	color:#ffffff;
	padding-bottom:35px;
	border-bottom:1px solid #d6c0ee;
	margin-bottom:20px;
}
/* Slider */
.n2-ss-slider-align-visible img{
	border:3px solid #562889 !important;
	box-sizing: border-box;
    max-width: calc(100% - 6px) !important;
}
.n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet p:nth-child(1){

}
.n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet p:nth-child(2){
	
}
.n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet p:nth-child(3){
	
}

/* Footer */
.footer{
	background-color:#562889;
	padding-bottom:30px;
}
.bana-logo-white{
	width:191px;
	margin:0 auto;
	display:block;
	margin-top:50px;
	margin-bottom:50px;
}
.footer-link-twitter{
	margin:0 auto;
	display:table;
	text-align:center;
	color:#ffffff;
	padding: 13px 0 13px 50px;
	background-image:url('images/divider3.png');
	background-size:46px;
	background-position:center left;
	background-repeat:no-repeat;
	font-family: 'MontserratMedium';
	margin-bottom: 25px;
}
.footer-link-twitter:hover{
	color:#ffffff;
	text-decoration:none;
}
a.footer-link{
	color:#ffffff;
	text-align:center;
	display:block;
	text-transform:uppercase;
	color:#ce6fff;
	font-size:12px;
	font-family: 'MontserratMedium';	
	margin-bottom:7px;
}


/* page-template-misc-page */

body.page-template-misc-page .entry-content{
	max-width:600px;
	margin:0 auto;
	padding-bottom:110px;
}
body.page-template-misc-page .entry-content a{
	color:#ce6fff;
}
body.page-template-misc-page .main-content ul {
    -webkit-margin-after: 36px;
}
body.page-template-misc-page .main-content li {
	display:list-item;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 20px;
    -webkit-margin-start: 20px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}




@media only screen and (max-width: 1200px) {
	
	.book [class*="col-"], .slider [class*="col-"], .untitled [class*="col-"] {
	    padding-left: 45px;
	    padding-right: 45px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.book img.book, .slider img.book {
	    float: none;
	    margin:0 auto;
	    display:block;
	    margin-bottom:60px;
	}
	
}

@media only screen and (min-width:769px) and (max-width: 991px){

	div#n2-ss-2 .n2-ss-layer-col {
	    padding-left: 45px !important;
	    padding-right: 45px !important;
	}

}

@media only screen and (max-width: 768px) {


	.pencils {
	    left: 20px;
	}
	.butterfly{
		right:20px;
	}
	/*.bana-hero-mobile{
		display:block;
	}
	.bana-hero{
		display:none;
	}*/
	body.home .bana-logo {
	    width: 120px;
	    position: absolute;
	    top: 15px;
	    left: 15px;
	}
	body.page-template-misc-page .bana-logo {
	    width: 120px;
	    position: relative;
	    margin-left: 15px;
	}
	.nav {
	    right: 15px;
	}
	.nav>li>a {
	    padding: 0px 0px;
	    font-size:12px;
	}
	.row.horizontal {
	    padding-top: 90px;
	    padding-bottom: 60px;
	}
	.hello p {
	    font-size: 24px;
	}
	.book [class*="col-"], .slider [class*="col-"], .untitled [class*="col-"] {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.nav-home {
	    right: 6px;
	}
	.nav-home>li>a {
	    padding: 0px 0px;
	    font-size:12px;
	}
	img.twitter-logo{
		width:39px;
	}

	
}

@media only screen and (max-width: 600px) {
	
	
}

@media only screen and (max-width: 500px) {
	
	
	
}


@media only screen and (max-width: 400px) {
	
	
	
	
	
}
